{% extends 'base.html' %}
{% load extra_tags %}

{% block title %}Wyniki Kolejki {{ games.0.round }}{% endblock %}

{% block content %}
<h2>Kolejka {{ games.0.round }}</h2>
<div><a href="{% url 'group' group_id=group_id %}">Wróć do grupy</a></div>

<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">Gracz</div>
            <div class="divTableCell">Suma punktów</div>
        </div>
        {% for member in members %}
        <div class="divTableRow">
            <div class="divTableCell">{{ member.member.get_display_name }}</div>
            <div class="divTableCell">{{ member.round_points }}</div>
        </div>
        {% endfor %}
    </div>
</div>

{% for game in games %}
<div class="divTableTitle">{{ game }}</div>
{% if game.was_game_finished %}
<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableHead">Kto</div>
            <div class="divTableHead">Wynik</div>
            <div class="divTableHead">Punkty</div>
            <div class="divTableHead">Pewniak</div>
            <div class="divTableHead">Bonus</div>
        </div>
        {% for bet in bets|index:forloop.counter0 %}
        <div class="divTableRow">
            <div class="divTableCell">
                {{ bet.bettor }}
            </div>
            <div class="divTableCell">
                {{ bet.home_bet }}:{{ bet.away_bet }}
            </div>
            <div class="divTableCell">
                {{ bet.points }}
            </div>
            <div class="divTableCell" style="{% if bet.is_risk %} color:green {% else %} color: red {% endif %}">
                {{ bet.is_risk|yesno:"✓,✗" }}
            </div>
            <div class="divTableCell" style="{% if bet.is_bonus %} color:green {% else %} color: red {% endif %}">
                {{ bet.is_bonus|yesno:"✓,✗" }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="divTableTitle">Mecz jeszcze się nie zakończył</div>
{% endif %}
<hr>
{% endfor %}
<div><a href="{% url 'group' group_id=group_id %}">Wróć do grupy</a></div>

{% endblock %}