{% extends 'base.html' %}
{% load extra_tags %}

{% block title %}Grupa: {{ group }}{% endblock %}

{% block content %}
{% load tz %}
<h2 align="center">{{ group }} - {{ group.league.league_name }}: <a href="{% url 'bets/all' group_id=group.id %}">Zobacz typy całego sezonu</a></h2>
<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">#</div>
            <div class="divTableCell">Gracz</div>
            <div class="divTableCell">Suma punktów</div>
            <!--<div class="divTableCell">Punkty z {{ current_round|add:-1 }}. kolejki</div>-->
            <div class="divTableCell">Typy</div>
        </div>
        {% for member in members %}
        <div class="divTableRow">
            <div class="divTableCell">{{ forloop.counter }}.</div>
            <div class="divTableCell">{{ member.member.get_display_name }}</div>
            <div class="divTableCell">{{ member.points }}</div>
        <!--    <div class="divTableCell">{{ member.previous_round }}</div> -->
            <div class="divTableCell">
                <a href="{% url 'bets/member' group_id=group.id member_id=member.member.id %}">Zobacz</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="divTable">
    <div class="divTableBody">
    {% for round in max_rounds %}
        <div class="divTableRow">
            <div class="divTableHeadRound">
                <a href="{% url 'bet' group_id=group.id round=round %}">Typuj</a>
                {% if group.is_vote %}
                    {% if round >= current_vote_round %}
                    <a href="{% url 'vote' group_id=group.id round=round %}">Głosuj</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="divTableHeadRound">
                Kolejka {{ round }}.
            </div>
            <div class="divTableHeadRound">
                Typ
            </div>
            <div class="divTableHeadRound">
                <a href="{% url 'bets/round' group_id=group.id round=round %}">Wyniki</a>
            </div>
        </div>
        {% localtime on %}
        {% for game in games|index:forloop.counter0 %}
        <div class="divTableRow">
            <div class="divTableCell">
                {{ game.game_date }}
            </div>
            <div class="divTableCell">
                {{ game }}
            </div>
            <div class="divTableCell">
                {{ game.my_bet }}
            </div>
            <div class="divTableCell">
                {% if game.is_game_soon %}
                    Wkrótce!
                {% elif game.was_game_finished %}
                    <a href="{% url 'bets/game' group_id=group.id game_id=game.id %}">Wyniki</a>
                {% elif game.was_game_started %}
                    <a href="{% url 'bets/game' group_id=group.id game_id=game.id %}">W trakcie!</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endlocaltime %}

{% endfor %}
    </div>
</div>
<hr>
{% if previous_rounds %}
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">
                    Poprzednie kolejki:
                </div>
                    {% for round in previous_rounds %}
                        <div class="divTableCell">
                            {{ round }}.
                            <a href="{% url 'bet' group_id=group.id round=round %}" title="Moje typy">T</a>
                            <a href="{% url 'bets/round' group_id=group.id round=round %}" title="Wyniki kolejki">W</a>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}